
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20;
    color: #72c855;
    h2{
        font-size: 28px;
    }
    .caption{
        font-size: 18px;
    }
    
}


